
Team 4.zip

pharma/

test.py

Accounts.txt

FeedbackQnA.txt

note.txt

Client ID and Secret.txt

check.py

fpdf_invoice.py

fpdftest.py

fpdftest2.py

Group Assignment.docx

hardcoded_invoice.py

invoice.pdf

pdftest.py
