<div class="site-mobile-menu">
    <!--<div class="site-mobile-menu-header">-->
        <!--&lt;!&ndash;<div class="site-mobile-menu-logo">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="js-logo-clone">Tr3yway</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="site-mobile-menu-close ">-->
            <!--<span class="ion-ios-close js-menu-toggle"></span>-->
        <!--</div>-->
    <!--</div>-->
</div>


<div class="site-navbar py-2">

    <div class="search-wrap">
        <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form action="{{url_for('search')}}" method="post">
                <input type="text" id="search" class="form-control" name="search" placeholder="Search keyword and hit enter...">
            </form>
        </div>
    </div>

    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
                <div class="site-logo">
                    <a href="/" class="js-logo-clone">Tr3yway</a>
                </div>
            </div>
            <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li><a href="/products">Products</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </nav>
            </div>

            <div class="icons">
                <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                <a href="/login">Login</a>
                <!--<a href="cart.html" class="icons-btn d-inline-block bag">-->
                    <!--<span class="icon-shopping-bag"></span>-->
                    <!--<span class="number">2</span>-->
                <!--</a>-->
                <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
            </div>
        </div>
    </div>
</div>
