{% extends "base.html" %}
{% block title %}Tr3yway - Harry Potter and the Philosopher’s Stone{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span>
          <a href="/products/">Products</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ book.get_bookName() }}</strong></div>
      </div>
    </div>
  </div>


  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto">
          <div class="border text-center">
            <!--<img src="../static/images/h1.jpg" alt="Image" class="img-fluid p-5">-->
            <img src="../static/uploads/{{ book.get_image() }}" alt="Image" class="img-fluid p-5">

          </div>
        </div>
        <div class="col-md-6">
          <h2 class="text-black">{{ book.get_bookName() }}</h2>
          <br>
          <h4 class="text-black">Author: {{ book.get_author() }}</h4>
          <h5 class="text-black">Book Description:</h5>
          <p>{{ book.get_summary() }}</p>


          <p><strong class="text-primary h4">${{ "%.2f" | format(book.get_price()) }}</strong></p>

          <h5><span class="text-black">Availbility:  </span>
            {% if book.get_stock() == 0 %}
            <span style="color:red;">Out of Stock</span>
            {% else %}
            <span style="color:#28a745;">In Stock</span>
            {% endif %}
          </h5>
          {% with messages = get_flashed_messages(with_categories=False,category_filter="Quantity Error") %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger" style="width: 65%;">
                  <span>{{ message | safe }}</span>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <form method="post">
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 220px;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>

                  {% if form.quantity.errors %}
                    {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                    <div class="invalid-feedback">
                      {% for error in form.quantity.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>

                  {% else %}
                      {{ form.quantity( class="form-control text-center", value=defnum) }}
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                  {% endif %}
              </div>

          </div>
            <input type="submit" value="Add To Cart" formaction="{{url_for('addtoCart', id=book.get_bookID())}}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">
            {% if current_user.is_authenticated %}
            <input type="submit" value="Buy Now" formaction="{{url_for('buynow', id=book.get_bookID())}}" class="btn-success buy-now btn btn-sm height-auto px-4 py-3 ">
            {% endif %}
          </form>

          <!--<p><a href="/cart/" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a></p>-->

          <!--<div class="mt-5">-->
            <!--<ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">-->
              <!--<li class="nav-item">-->
                <!--<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"-->
                  <!--aria-controls="pills-home" aria-selected="true">Ordering Information</a>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"-->
                  <!--aria-controls="pills-profile" aria-selected="false">Specifications</a>-->
              <!--</li>-->

            <!--</ul>-->
            <!--<div class="tab-content" id="pills-tabContent">-->
              <!--<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">-->
                <!--<table class="table custom-table">-->
                  <!--<thead>-->
                    <!--<th>Material</th>-->
                    <!--<th>Description</th>-->
                    <!--<th>Packaging</th>-->
                  <!--</thead>-->
                  <!--<tbody>-->
                    <!--<tr>-->
                      <!--<th scope="row">OTC022401</th>-->
                      <!--<td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>-->
                      <!--<td>1 BT</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<th scope="row">OTC022401</th>-->
                      <!--<td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>-->
                      <!--<td>144/CS</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<th scope="row">OTC022401</th>-->
                      <!--<td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>-->
                      <!--<td>1 EA</td>-->
                    <!--</tr>-->

                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->
              <!--<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">-->

                <!--<table class="table custom-table">-->

                  <!--<tbody>-->
                    <!--<tr>-->
                      <!--<td>HPIS CODE</td>-->
                      <!--<td class="bg-light">999_200_40_0</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>HEALTHCARE PROVIDERS ONLY</td>-->
                      <!--<td class="bg-light">No</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>LATEX FREE</td>-->
                      <!--<td class="bg-light">Yes, No</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>MEDICATION ROUTE</td>-->
                      <!--<td class="bg-light">Topical</td>-->
                    <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->

              <!--</div>-->

            <!--</div>-->
          <!--</div>-->


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
